<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- Title here -->
		<title>购物车</title>
		<link rel="shortcut icon" href="/templates/img/icon.png" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/cart.css" />
		<!-- js -->
		<script src="js/jquery.js" type="text/javascript"></script>
		<!-- <script src="js/custom.js" type="text/javascript"></script> -->
		<script src="js/cart.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="ng-scope">
			<!--购物车空提示-->
			<div class="cartempty ng-scope ng-hide">
				<h3>亲，购物车空空的呢~</h3>
				<a href="index.html">去逛逛</a>
			</div>
			<!--/购物车空提示-->

			<div class="cartpay ng-scope ">
				<div class="take-delivery">
					<div class="addr">
						<p style="color:#FA2C2A" class="ng-binding">收货人：</p>
						<p style="font-size:12px;color:#666" class="ng-binding">电话：</p>
						<p style="font-size:12px;color:#666" class="ng-binding">详细地址：</p>
						<p class="edit"></p>
					</div>
					<div class="yujibox">
						<div style="width:25%;float:left;margin-left:30px;color:#666;font-size:14px">送达时间：</div>
						<div style="width:60%;float:left;color:#888;font-size:12px">预计30分钟</div>
					</div>
					<div class="remarkbox">
						<span style="width:20%;float:left;margin-left:30px;color:#666;font-size:14px">留言：</span>
						<input class="input remark ng-pristine ng-untouched ng-valid ng-empty" placeholder="点此输入留言" type="text" id="o_note">
					</div>
				</div>
				<section class="prolist_section">
					<ul id=" prolist" class="lists"></ul>
					<!--底部结算导航-->
					<div class="cart ng-scope hide"></div>
					<div class="lin60"></div>
					<!--/底部结算导航-->
				</section>

			</div>
			<!--底部导航-->
			<nav class="ng-scope">
				<ul class="nav">
					<li>
						<a href="index.html">
							<img src="img/foot01.png" alt="">
							<p>首页</p>
						</a>
					</li>
					<li>
						<a href="market.html">
							<img src="img/foot04.png" alt="">
							<p>商品</p>
						</a>
					</li>
					<li>
						<a href="cart.html">
							<img src="img/foot02.png" alt="">
							<p>购物车</p>
						</a>
						<i id="cartnum" class="ng-binding cartnum">0</i>
					</li>
					<li>
						<a href="mine.html">
							<img src="img/foot03.png" alt="">
							<p>我的</p>
						</a>
					</li>

				</ul>
			</nav>
			<!--/底部导航-->
		</div>

	</body>
</html>
