<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- Title here -->
		<title>反馈</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="生鲜购物商城" />
		<meta name="keywords" content="生鲜购物商城" />
		<meta name="author" content="生鲜购物商城" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="/templates/img/icon.png" type="image/x-icon">
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/coupon.css" />
	</head>
	<body>
		<div class="ng-scope PB50">
			<header class="ng-scope" style="position: relative;">
				<h4 class="title-order">
					<a class="title-top" href="mine.html">优惠卷</a>
				</h4>
			</header>
			<div class="card">
				<div>
					<span class="title">满100减20</span>
					<span class="limit">每人限领一次</span>
				</div>
			</div>
		</div>

	</body>
</html>
