<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Title here -->
    <title>反馈</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="生鲜购物商城" />
    <meta name="keywords" content="生鲜购物商城" />
    <meta name="author" content="生鲜购物商城" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/templates/img/icon.png" type="image/x-icon">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/cour.css" />
</head>
<body>
    <div class="ng-scope PB50">
		<header class="ng-scope" style="position: relative;">
		    <h4 class="title-order">
		        <a class="title-top" href="mine.html">客服/反馈</a>
		    </h4>
		</header>
        <img src="img/cs_001.jpg" class="img-responsive" alt="">
        <div class="borderleft5o">在线留言<span> (12小时内回复)</span></div>
        <div class="comment-box">
            <div class="box">
                <label>您的姓名：</label>
                <input class="aui-Address-box-input" type="text" placeholder="大厦名称" />
            </div>
            <div class="box">
                <label>手机号码：</label>
                <input class="aui-Address-box-input" type="text" placeholder="您的姓名" />
            </div>
            <div class="box">
                <label>联系地址：</label>
                <input class="aui-Address-box-input" type="text" placeholder="手机号码" />
            </div>
            <div class="box">
                <label>留言内容：</label>
                <textarea class="aui-Address-box-textarea" placeholder="留言内容"></textarea>
            </div>
            <div class="box">
                <div style="text-align:center;"><a href="mine.html" class="btnSubmit">提 交</a></div>
            </div>
        </div>
    </div>

</body>
</html>
