<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Title here -->
    <title>反馈</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="生鲜购物商城" />
    <meta name="keywords" content="生鲜购物商城" />
    <meta name="author" content="生鲜购物商城" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/templates/img/icon.png" type="image/x-icon">
    <!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/cour.css" />
	<link rel="stylesheet" type="text/css" href="css/share.css" />
	<script type="text/javascript" src="/templates/js/jquery.js"></script>
	<script type="text/javascript" src="/templates/js/share.js"></script>
	<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
</head>
<body>
	<header class="ng-scope">
		<h4 class="title-order">
			<a class="title-top" href="mine.html">分享有礼</a>
		</h4>
	</header>
</body>
</html>